
a {
  text-decoration: none;
  color: inherit; 
}


.container {
  background-color: #f5f5f5;
  padding: 20px 25px;
  border: solid black;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 15px 0;
  cursor: pointer;
}


.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.container h2 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: #333;
}


.container p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}


@media (min-width: 600px) {
  a {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
  }

  a:last-child {
    margin-right: 0;
  }
}
