
a {
  text-decoration: none;
  color: inherit; 
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.container-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #e0e0e0;
}



.container-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.container-card h2 {
  margin-top: 0;
  font-size: 1.6rem;
  color: #333;
  font-weight: bold;
  line-height: 1.4;
}


.container-card p {
  margin: 8px 0;
  font-size: 1rem;
  color: #555;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container-card {
    width: 90%;
  }
}
