<app-notification></app-notification>

<div class="artists-container">
  <div class="artist-card" *ngFor="let artist of paginatedArtists">
    <h3>{{ artist.label }}</h3>
    <ng-container *ngIf="getEventsForArtist(artist.id) | async as events">
      <p><strong>Evenements :</strong></p>
      <p *ngFor="let ev of events | slice:0:2">{{ ev.label }}</p>
    </ng-container>

    <a [routerLink]="[artist.id]" class="details-btn">Voir détails</a>
  </div>
</div>

<!-- Pagination -->
<div class="pagination" *ngIf="totalPages > 1">
  <button (click)="previousPage()" [disabled]="currentPage === 1">◀ Précédent</button>
  <span>Page {{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant ▶</button>
</div>

<!-- Ajouter un artiste -->
<a [routerLink]="['add']">
  <div class="add-artist">
    <p> Ajouter un artiste</p>
  </div>
</a>
