header {
  background-color: #1e1e1e; 
  padding: 20px 0;
  text-align: center; 
  position: fixed;  /* le fixe en haut */
  top: 0;           /* à partir du haut de la fenêtre */
  left: 0;          /* à partir du bord gauche */
  width: 100%;      /* pour qu'il prenne toute la largeur */
  z-index: 1000;    /* pour qu'il reste au-dessus des autres éléments */
}

header div {
  display: inline-block; 
}

header a {
  font-size: 1.3rem; 
  color: #f5f5f5; 
  text-decoration: none; 
  margin: 0 15px;
  transition: color 0.3s ease, transform 0.2s ease; 
}

header a:hover {
  color: #ffcc00; 
  transform: scale(1.1);
}
