<app-notification></app-notification>

<div class="events-container">
  <div class="event-card" *ngFor="let event of paginatedEvents">
    <h3>{{ event.label }}</h3>
    <p><strong>Début :</strong> {{ event.startDate | date }}</p>
    <p><strong>Fin :</strong> {{ event.endDate | date }}</p>
    <p><strong>Nombre d'artistes associés :</strong> {{ event.artists.length }}</p>
    <a [routerLink]="[event.id]" class="details-btn">Voir détails</a>
  </div>
</div>

<!-- Pagination -->
<div class="pagination" *ngIf="totalPages > 1">
  <button (click)="previousPage()" [disabled]="currentPage === 1">◀ Précédent</button>

  <span>Page {{ currentPage }} / {{ totalPages }}</span>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant ▶</button>
</div>

<!-- Bouton ajouter -->
<a [routerLink]="['add']">
  <div class="add-event">
    <p>Ajouter un évènement</p>
  </div>
</a>
